.block.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.block.cards .card .url {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  opacity: 0;
  margin: 0;
}

.block.cards .card .url > a {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.block.cards .card {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 16px;
  justify-content: center;
}

.block.cards .card:hover {
  box-shadow: 0 0 31px -8px rgb(10 10 10 / 30%);
}

.block.cards .card .title {
  align-self: stretch;
  font-weight: 700;

  /* max-width: 80%; */
  margin-left: auto;
  margin-right: auto;
}

.block.cards .card img {
  width: 42px;
  height: 42px;
}

@media (width > 900px) {
  .block.cards .card {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 10px;
    padding: 1.5rem;
  }

  .block.cards.image-cards .card {
    max-width: 45%;
  }

  .block.cards .card img {
    width: 80px;
    height: 80px;
  }

  .block.cards .card .title {
    align-self: center;
  }

  .block.cards.image-cards {
    flex-wrap: nowrap !important;
  }

  .block.cards .card > div:has(.title) {
    display: flex;
    align-self: stretch;
    align-items: center;
    gap: 10px;
  }
}

.block.cards.image-cards {
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.block.cards.image-cards .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.block.cards.image-cards .card-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.block.cards.image-cards .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  border-radius: 16px;
  z-index: -1;
}

.block.cards.image-cards .title {
  z-index: 1;
  color: white;
  margin: 0;
  align-self: flex-start;
  font-size: 1.2rem;
}

.block.cards.image-cards .card > div:has(.title) {
  display: flex;
}

.block.cards.image-cards .url {
  opacity: 1;
  height: unset;
  width: unset;
  position: initial;
  font-size: 0.75rem;
  z-index: 1;
}

.block.cards.image-cards .url a {
  background-color: #f26841;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block.cards.image-cards .card .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: stretch;
  justify-content: space-between;
  min-height: 120px;
}
