.block.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.block.cards .card .url {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  opacity: 0;
  margin: 0;
}

.block.cards .card .url > a {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.block.cards .card {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 16px;
}

.block.cards .card:hover {
  box-shadow: 0 0 31px -8px rgb(10 10 10 / 30%);
}

.block.cards .card .title {
  align-self: stretch;
  font-weight: 700;

  /* max-width: 80%; */
  margin-left: auto;
  margin-right: auto;
}

.block.cards .card img {
  width: 42px;
  height: 42px;
}

@media (width > 900px) {
  .block.cards .card {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 10px;
    padding: 1.5rem;
  }

  .block.cards .card img {
    width: 80px;
    height: 80px;
  }

  .block.cards .card .title {
    align-self: center;
  }

  .block.cards .card > div:has(.title) {
    display: flex;
    align-self: stretch;
    align-items: center;
    gap: 10px;
  }
}
