.columns > div {
  display: flex;
  flex-direction: column;
}

.columns > div > div {
  order: 1;
}

.columns.badges > div {
  gap: 10px;
  align-items: start;
}

.columns img {
  width: 100%;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.block.columns.badges img {
  width: 44px;
  height: 44px;
  object-fit: contain;
  border-radius: 50%;
}

.block.columns.content-center {
  text-align: center;
}

.block.columns.content-center > div > div {
  text-align: center;
  flex: unset;
}

.block.columns.badges.content-center > div {
  flex-flow: row wrap;
}

.block.columns.badges.content-center > div > div {
  width: 45%;
}

.block.columns.badges.content-center p {
  margin: 0;
}

.block.columns {
  margin-bottom: 20px;
}

@media (width >= 900px) {
  .block.columns.badges img {
    width: 72px;
    height: 72px;
  }

  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .block.columns.badges.content-center > div {
    flex-flow: row nowrap;
  }

  .block.columns.badges.content-center > div > div {
    width: unset;
    flex: 1;
  }
}
