/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav#nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "hamburger brand tools" var(--nav-height)
    "sections sections sections" 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav#nav[aria-expanded="true"] {
  grid-template:
    "hamburger brand" var(--nav-height)
    "sections sections" 1fr
    "tools tools" var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav#nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {
  header nav#nav {
    display: flex;
    justify-content: space-between;
  }

  header nav#nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav#nav p {
  margin: 0;
  line-height: 1;
}

header nav#nav a:any-link {
  color: currentcolor;
  display: block;
}

/* hamburger */
header nav#nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav#nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav#nav .nav-hamburger-icon,
header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: currentcolor;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav#nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav#nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav#nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav#nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav#nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav#nav .nav-sections ul > li {
  font-weight: 700;
}

header nav#nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav#nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav#nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav#nav a:any-link {
    display: block;
  }

  header nav#nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav#nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
    z-index: 10;
  }

  header nav#nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav#nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav#nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav#nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    /* padding: 1em; */
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav#nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav#nav .nav-tools {
  grid-area: tools;
}

header nav#nav .nav-tools .button {
  background: none;
  border: none;
  padding: 10px;
  margin: 0;
}

/* breadcrumbs */
header .breadcrumbs {
  display: none;
  padding: 0 32px;
  width: 100%;
  height: var(--breadcrumbs-height);
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  font-size: var(--breadcrumbs-font-size);
}

header .breadcrumbs ol {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li {
  padding-inline-start: 0;
  opacity: 0.7;
}

header .breadcrumbs ol li:not(:last-child)::after {
  content: "/";
  padding-left: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li a:any-link {
  color: var(--text-color);
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li:last-of-type {
  opacity: 1;
}

@media screen and (width >= 900px) {
  header .breadcrumbs {
    display: block;
  }
}
/* header style */
header .nav-wrapper{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    height: 112px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
header .nav-wrapper #nav{
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  gap: 0; 
  padding: 0;
}
header .nav-wrapper #nav .section.nav-brand .default-content-wrapper picture img{
  max-width: 108px;
  display: inline-block;
  margin-right: 16px;
  padding-top: 0;
  /* padding-bottom: 20px; */
}
header .nav-wrapper #nav .section.nav-sections{
  display: flex;
  flex-basis: auto;
  background-color: #fff;
  flex-grow: 1;
  align-items: center;
}
header .nav-wrapper #nav .section.nav-sections .default-content-wrapper {
  margin: 0 0 0 auto;
}
header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul {
  gap: unset;
  align-items: center;
  width: 100%;
  top: 100px;
  margin-top: 22px;
}
/* header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul li.nav-drop */
header .nav-wrapper #nav > div.section.nav-sections > div > ul > li:nth-child(7).nav-drop{
  padding-right: 28px;
}
header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul li {
  position: relative;
  padding: unset;
}
header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul li.nav-drop{
  padding-right: 20px;
  position: unset;
}
header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul > li > p{
  position: relative;
  color: var(--darkcharcoal);
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  background: transparent;
  margin: unset;
  display: block;
  padding: unset;
  text-decoration: none;
}
header .nav-wrapper #nav > div.section.nav-sections > div > ul > li:nth-child(6) > ul > li > p{
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
}
header .nav-wrapper #nav > div.section.nav-sections > div > ul > li:nth-child(6) > ul > li > p > span{
  width: fit-content;
}
header .nav-wrapper #nav > div.section.nav-sections > div > ul > li:nth-child(6) > ul > li > p > span > img{
  width: 20px;
  height: 20px;
}
header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul li:nth-child(7) p{
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-decoration: none;
  padding: 15px 10px 0 3px;
}
header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul li:nth-child(7) p span img{
  width: 27px;
  height: 19px;
}
header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul li:last-child p{
  padding: unset;
  margin-right: 0;
}
header .nav-wrapper #nav .section.nav-sections > .default-content-wrapper > ul > li.nav-drop > p::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  right: -12px;
  transform: rotate(135deg);
  width: 8px;
  height: 8px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
  border: 2px solid currentcolor;
  border-radius: 0 3px 0 0;
  border-width: 2px 2px 0 0;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}
header .nav-wrapper #nav .section.nav-sections .default-content-wrapper > ul >  li > p{
  margin-right: 1rem;
  padding: 8px 8px 8px 8px;
  position: relative;
  color: var(--darkcharcoal);
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  font-weight: 700;
}
header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul li p sup{
  position: absolute;
  bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: #41c66e;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 10px;
  font-weight: 700;
  height: 1.1pc;
  line-height: 9pt;
  padding: 0 4px;
  text-decoration: none;
  width: fit-content;
}
/* header nav#nav .nav-sections .nav-drop::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 23px;
  transform: rotate(135deg);
  width: 8px;
  height: 8px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
} */
/* header nav#nav .nav-sections .nav-drop[aria-expanded="true"]::after{
  top: unset;
  bottom: 13px;
  transform: rotate(315deg);
} */
header .nav-wrapper #nav .nav-sections .default-content-wrapper>ul>li:last-child p{
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-decoration: none;
  padding: 13px 6px 0 6px;
  /* display: inline; */
}
header .nav-wrapper #nav .nav-sections  .default-content-wrapper  ul li:last-child  a{
    align-items: center;
    background: #fef0ec;
    border: 1px solid #f26841;
    border-radius: 19px;
    color: #f26841;
    display: flex;
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 37px;
    padding-left: 16px;
    padding-right: 31px;
    text-decoration: none;
    margin: unset;
    font-family: 'nunito';
    font-weight: 700;
}
header .nav-wrapper #nav .nav-sections  .default-content-wrapper  ul li:last-child p .icon{
    display: inline;
}
header .nav-wrapper #nav .nav-sections .default-content-wrapper p:last-child img{
  position: absolute;
  height: 25px;
  width: 25px;
  top: 7px;
  right: 7px;
}
header .nav-wrapper #nav .nav-sections .default-content-wrapper>ul>li.nav-drop[aria-expanded="true"]>p::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -36px;
    width: calc(100% + 15px);
    height: 2px;
    background-color: #f26841;
    transition: all ease 0.3s;
}
/* header .nav-wrapper #nav .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"]>ul{
  padding-top: 1rem;
  padding-bottom: 1rem;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: 0 auto;
  max-width: 100%;
  row-gap: 20px;
}
header .nav-wrapper #nav .nav-sections .default-content-wrapper>ul>li>ul{
  width: 100%;
  left: 0;
  padding: 0 11.3%;
  background-color: rgb(239 239 239);
  position: absolute;
  top: 100%;
} */
header .nav-wrapper #nav > .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"]>ul{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 20px;
  align-items: start;
  column-gap: 20px;
  max-width: 930pt;
  row-gap: 20px;
  margin-top: unset;
    top: 112px;
} 
header .nav-wrapper #nav > .nav-sections .default-content-wrapper > ul > li > ul{
  width: 100%;
  left: 0;
  padding: 0 11.3%;
  background-color: rgb(239 239 239);
  position: absolute;
  top: 100%;
}
header .nav-wrapper #nav > .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"]>ul>li>ul{
  display: block;
  width: 100%;
  margin-top: 12px;
  padding-left: 33px;
}
header .nav-wrapper #nav > .nav-sections .default-content-wrapper>ul>li.nav-drop[aria-expanded="true"]>p::after{
  top: unset;
    bottom: 13px;
    transform: rotate(315deg);
}
header .nav-wrapper #nav > .nav-sections .default-content-wrapper>ul>li>ul{
  width: 100%;
  left: 0;
  padding: 0 11.3%;
  background-color: rgb(239 239 239);
  position: absolute;
  top: 100%;
} 
header .nav-wrapper #nav > .nav-sections .default-content-wrapper>ul>li>ul>li>ul>li{
  font-size: 0.875rem;
  margin-bottom: 12px;
  color: rgb(51 51 51);
  font-weight: 400;
  line-height: normal;
}
header .nav-wrapper #nav > .nav-sections .default-content-wrapper>ul>li>ul>li>ul>li:hover{
  color: rgb(242 104 65) !important;
}
header .nav-wrapper #nav  > div.section.nav-sections > div > ul > li:nth-child(2) > ul > li > p{
    padding: unset;
    align-items: center;
    display: flex;
    font-weight: 700;
    column-gap: 12px;
}
header .nav-wrapper #nav > div.section.nav-sections > div > ul > li:nth-child(5) > ul > li{
  padding-left: 65px;
  height: max-content;
  color: var(--darkcharcoal);
  font-family: 'nunito';
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
header .nav-wrapper #nav > div.section.nav-sections > div > ul > li:nth-child(2) > ul > li{
  /* padding: 0 20px; */
}
header .nav-wrapper #nav > div.section.nav-sections > div > ul > li:nth-child(7) > ul{
  grid-template-columns: repeat(8, minmax(0, 1fr));
  text-align: center;
}
header .nav-wrapper #nav > div.section.nav-sections > div > ul > li:nth-child(7) > ul > li{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  font-family: 'nunito';
}
header .nav-wrapper  #nav > div.section.nav-sections > div > ul > li:nth-child(6) > ul > li:nth-child(1) > ul > li:nth-child(4) > sup{
  content: "New";
  position: absolute;
  background-color: #41c66e;
  border-radius: 4px;
  color: #fff;
  font-family: 'nunito';
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  padding: 4px 10px;
  margin-left: 8px;
  bottom: -3px;
}
header .nav-wrapper #nav > div.section.nav-sections > div > ul > li:nth-child(2) > ul > li > p > span > img{
  height: 20px;
  width: 20px;
}
header .nav-wrapper #nav > div.section.nav-sections > div > ul > li:nth-child(2) > ul > li > p > span{
  width: fit-content;
}
header .nav-wrapper  #nav > div.section.nav-sections > div > ul > li:nth-child(5) > ul > li:hover{
  color: #f26841;
}
header .nav-wrapper  #nav > div.section.nav-sections > div > ul > li:nth-child(5) > ul > li{
  padding-left: unset;
  margin-bottom: 12px;
}

@media screen and (max-width:1024px) {
  header .nav-brand{
    width: 100%;
    display: inline-block;
    flex: unset;
    background-color: #fff;
    height: calc(100vh - 52px);
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 66px;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }
  header .nav-brand .default-content-wrapper > ul{
    padding: 0 1pc;
  }
  header .nav-brand .default-content-wrapper > ul > li,
  header .nav-brand .default-content-wrapper > ul > li > ul > li > ul > li,
  header .nav-brand .default-content-wrapper > ul > li > ul > li{
    list-style: none;
  }
  header .nav-brand .default-content-wrapper > ul > li > ul,
  header nav#nav > div.section.nav-brand > div > ul > li > ul > li > ul{
    padding: unset;
    margin: unset;
  }
  header nav#nav > div.section.nav-brand > div > ul > li > ul > li > ul{
    padding-left: 24px;
  }
  header nav#nav > div.section.nav-brand.nav-drop-down > div > ul > li > ul > li > ul{
    display: none;
  }
  header nav#nav .nav-brand > .default-content-wrapper > Ul > li > ul > li > p > span > img{
    height: 16px;
    width: 16px;
  }
  header .nav-brand .default-content-wrapper > ul > li > ul > li > ul > li{
    cursor: pointer;
    margin-bottom: 1pc;
    font-family: 'nunito';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
  }
  header .nav-brand .default-content-wrapper > ul > li > p{
    align-items: center;
    display: flex;
    margin: unset;
    padding: 16px 0;
  }
  header .nav-brand .default-content-wrapper > ul > li > ul > li > p{
    border-bottom: 1px solid #e6e6e6;
    margin: unset;
    padding: 1pc 0;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .nav-brand .default-content-wrapper > ul > li > ul > li{
    position: relative;
  }
  header .nav-brand .default-content-wrapper > ul > li > ul > li::after{
    content: "";
    position: absolute;
    background-image:url(../../icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 7px;
    margin-left: 8px;
    top: 23px;
    right: 2px;
    transform: rotate(0deg);
    transition: transform .6s ease-in-out;
    width: 16px;
  }
  header .nav-brand .default-content-wrapper > ul > li > ul > li> p > sup{
    align-items: center;
    background-color: #41c66e;
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-family: Nunito-Bold, sans-serif;
    font-size: 10px;
    font-weight: 700;
    height: 1.1pc;
    line-height: 9pt;
    padding: 2px 4px;
    text-decoration: none;
    width: fit-content;
    font-size: 12px;
    line-height: 24px;
  }
  header .nav-brand .default-content-wrapper > ul > li > ul > li > p{
    gap: 8px;
    align-items: center;
    color: #212529;
    font-size: 14px;
    line-height: 20px;
  }
  header .nav-brand .default-content-wrapper > ul > li > ul > li> p > span.icon{
    width: fit-content;
    height: 100%;
  }
  header #nav > div.section.nav-brand > div > ul > li:nth-child(3) > ul > li:nth-child(4){
    border-bottom: unset;
  }
  header .nav-brand .default-content-wrapper > ul > li:nth-child(4){
    background: linear-gradient(333.16deg, #fef0ec -4.71%, #ebeef0 116.99%);
    border-radius: 15.7755px;
    margin: 1pc auto 9pc;
    max-width: 328px;
    padding: 24px 36px;
  }
  header .nav-brand .default-content-wrapper > ul > li:nth-child(4) > p{
    color: #212529;
    font-family: 'nunito';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: unset;
    margin-bottom: 9pt;
    text-align: center;
    justify-content: center;
  }
  header .nav-brand .default-content-wrapper > ul > li:nth-child(4) > ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
  header .nav-brand .default-content-wrapper > ul > li:nth-child(4) > ul > li> a > img {
    border-radius: 5px;
    height: 36px;
    width: 81pt
  }
  header .nav-wrapper{
    height: unset;
    display: unset;
  }
  header .nav-wrapper #nav{
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* grid-template-columns: 60% 20% 10%; */
    padding: 0 1pc;
    column-gap: 16px;
  }
  header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul li{
    position: relative;
    padding: unset;
    display: none;
  }
  header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul li:last-child{
    display: block;
    /* width: fit-content; */
  }
  header nav#nav .nav-sections{
    grid-area: unset;
    display: block;
    visibility: visible;
  }
  header .nav-wrapper #nav .section.nav-brand .default-content-wrapper picture img{
    height: 44px;
    width: 82px;
    margin-right: unset;
  }
  header .nav-wrapper #nav .section.nav-sections .default-content-wrapper ul{
    max-width: 91px;
    margin: 0;
  }
  header .nav-wrapper #nav .nav-sections .default-content-wrapper ul li:last-child p a{
    min-height: 38px;
    padding-right: 33px;
  }
  header #nav > div.section.nav-brand > div > ul > li:nth-child(2) > ul > li:nth-child(1),
  header #nav > div.section.nav-brand > div > ul > li:nth-child(2) > ul > li:nth-child(2),
  header #nav > div.section.nav-brand > div > ul > li:nth-child(2) > ul > li:nth-child(4){
    position: unset;
  }
  header #nav > div.section.nav-brand > div > ul > li:nth-child(4) > ul > li{
    position: unset;
  }
  header .nav-wrapper #nav .nav-sections .default-content-wrapper ul li:last-child span img{
    position: absolute;
    height: 25px;
    width: 25px;
    top: 7px;
    right: 7px;
  }
  header #nav > div.section.nav-sections > div > ul > li{
    display: block;
  }
  header .nav-wrapper #nav .section.nav-sections .default-content-wrapper{
    margin: unset;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  header .nav-wrapper #nav > div.section.nav-sections > div > ul > li > span{
    display: inline;
  }
  header .nav-wrapper #nav > div.section.nav-brand > div > ul > li:nth-child(1){
    position: unset;
  }
  header .nav-wrapper #nav .section.nav-sections{
    height: 100%;
  }
  header nav#nav[aria-expanded="true"]{
    min-height: unset;
  }
  header .nav-brand .default-content-wrapper > ul > li > ul > li > p.navlist-dropdown{
    border-bottom: unset;
    color: #f26841;
  }
  header .nav-brand .default-content-wrapper > ul > li > ul > li.arrow::after{
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    transform: rotate(180deg);
    color: #f26841;
  }
  header .nav-wrapper #nav .nav-sections .default-content-wrapper ul li:last-child a{
    max-width: 81px;
    min-height: 38px;
  }
}