.block.testimonies .testimony.unselected {
  display: none;
}

.block.testimonies .testimony.selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block.testimonies .testimony.selected .testimony-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: white;
  border-radius: 16px;
  z-index: 3;
  margin-top: 10px;
}

/*make a triangle that points upwards in the center of the div*/

.block.testimonies .testimony.selected .testimony-img::after {
  content: '';
  position: absolute;
  bottom: -29px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid white;
}

.block.testimonies .testimony.selected .testimony-content > p {
  text-align: center;
  margin: 0;
  font-size: 1.125rem;
}

.block.testimonies .testimony.selected .testimony-content .testimony-desc {
  margin-bottom: 1em;
}

.block.testimonies .testimony.selected .testimony-content .testimony-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.block.testimonies .testimony.selected .testimony-content .testimony-title {
  color: rgb(128 128 128);
  /* font-style: normal !important; */
}

.block.testimonies .testimony.selected .testimony-img img {
  width: 205px;
  height: 205px;
  border-radius: 50%;
}

.block.testimonies .testimony.selected .testimony-img {
  position: relative;
  width: 205px;
  height: 205px;
}

.block.testimonies .testimony.selected .testimony-img picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 205px;
  height: 205px;
  display: block;
}

.block.testimonies .animation-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 205px;
  height: 205px;
  border-radius: 50%;
  background-color: #ed8c90;
  animation: scaleIn 6s infinite cubic-bezier(0.1, 0.21, 0.89, 0.32);
}

.block.testimonies .animation-circle-0 {
  /* outline: 20px solid #ed8c90; */
  /* opacity: 0.125; */
  animation-delay: 0s;
}

.block.testimonies .animation-circle-1 {
  /* background-color: #ed8c90; */
  animation-delay: 1s;
}

.block.testimonies .animation-circle-2 {
  /* outline: 0px solid #ed8c90; */
  /* opacity: 0.075; */
  animation-delay: 2s;
}

.block.testimonies .animation-circle-3 {
  /* outline: 0px solid #ed8c90; */
  /* opacity: 0.075; */
  animation-delay: 3s;
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.1;
  }

  to {
    -webkit-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -o-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
  }
}
