.table {
  width: 100%;
  overflow-x: auto;
  border-radius: 12px;
  border: 1px solid var(--lightgrey);
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

.table tr {
  border: 0;
  border-bottom: 1px solid var(--lightgrey);
}

.table td,
.table th {
  border-right: 1px solid var(--lightgrey);
  padding: 1.5rem;
  padding-inline: 1rem;
  font-weight: 400;
  color: var(--midnight);
}

.table td:last-child,
.table th:last-child {
  border-right: 0;
}

.table th {
  background-color: var(--rosewhite);
  color: var(--text-color-light-gray);
  font-size: 1rem;
}

@media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table td {
  font-size: 0.75rem;
  line-height: 1rem;
}

.table table th,
.table table td {
  text-align: left;
}

.table table th :first-child,
.table table td :first-child {
  margin-top: 0;
}

.table table th :last-child,
.table table td :last-child {
  margin-bottom: 0;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
}

@media (width >= 900px) {
  .table table td,
  .table table th {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-inline: 1.5rem;
  }
}
