/* set background colors */
.block.hero-carousel .hero-slide {
  display: flex;
  flex-direction: row;
}

.block.hero-carousel .hero-slide .slide-image {
  width:300px;
  height: auto;
}

/* set background colors */
.block.hero-carousel .hero-slide.background-green {
  background-color: green;
}

.block.hero-carousel .hero-slide.background-purple {
  background-color: purple;
}

/* set emphasis styles*/
.block.hero-carousel .hero-slide.background-green em {
  color: pink;
}

.block.hero-carousel .hero-slide.background-purple em {
  color: green;
}