/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* boilerplate colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --text-color-dark-gray: rgb(51 51 51);
  --text-color-light-gray: rgb(89 89 89);
  --main-cta-background: #a42e0e;

  /* piramal site colors */
  --piramal-white-100: #fff;
  --piramal-blue-20: #e4eafa;
  --piramal-blue-80: #5e7387;
  --piramal-blue-100: #365069;
  --piramal-blue-120: #1e2e58;
  --piramal-neutral-60: #666;
  --piramal-neutral-80: #333;
  --piramal-neutral-140: #332512;
  --piramal-green-140: #1a4f2c;
  --gradient-red-light: #d67d7d;
  --gradient-red-dark: #cc4341;
  --gradient-green-light: #e1ffeb;
  --gradient-green-dark: #acf6c5;
  --gradient-yellow-light: #ffe2be;
  --gradient-yellow-dark: #ffd49d;
  --gradient-blue-light: #dbe3f8;
  --gradient-blue-dark: #b7c7f1;
  --background-light-yellow: #fffcf7;
  --background-light-pink: #fff7f4;

  /* colors form teknopoint implementation */
  --gradient-gray-light: #ebeef050;
  --gradient-gray: #666;
  --tw-text-opacity: 1;
  --darkcharcoal: #333;
  --darkgrey: #666;
  --white: #fff;
  --orange: #f26841;
  --black: #000;
  --grey: #808080;
  --darkblack: #030303;
  --green: #41c66e;
  --greyishblue: #365069;
  --floralwhite: #fff9f2;
  --lilen: #fff4e7;
  --dustygrey: #999;
  --matterhorn: #4d4d4d;
  --chinesesilver: #ccc;
  --midnight: #20303f;
  --pattensblue: #d7dce1;
  --rosewhite: #fef0ec;
  --solitude: #e5e7eb;
  --swansdown: #e3f6e9;
  --camarone: #277742;
  --zinc: #afb9c3;
  --cloud: #ebeef0;
  --silver: #c4c4c4;
  --arsenic: #364754;
  --whisper: #ebebeb;
  --fossil: #a9a9a9;
  --blackpearl: #010812;
  --lightgrey: #ebeaea;
  --blue: #007bff;
  --whitesmoke: #f8f8f8;
  --coral: #fac3b3;
  --salmon: #f58667;
  --seashell: #fff7f4;
  --pale: #eef3ff;
  --cinnabar: #da4d34;
  --coralred: #ef4444;
  --flamingo: #eb5752;
  --mischka: #9ca3af;
  --midorange: #f26741;
  --pearl: #f0f0f0;
  --submidorange: #fce6e5;
  --skyblue: #def3fd;
  --light-gray: #f8faff;

  /* fonts */
  --body-font-family: nunito, nunito-normal-400-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono',
    monospace;

  /* body sizes mobile */
  --body-font-size-m: 14px;
  --body-font-size-s: 12px;

  /* heading sizes mobile */
  --heading-font-size-xxl: 24px; /* h1 */
  --heading-font-size-xl: 20px; /* h2 */
  --heading-font-size-l: 16px; /* h3 */
  --heading-font-size-m: 16px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 16px;

  /* header */
  --nav-height: 72px;
  --header-height: var(--nav-height);
  --max-width: 600px;
}

/* fallback font for Nunito (normal - 400) */
@font-face {
  font-family: 'nunito-normal-400-fallback';
  size-adjust: 100.741%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* desktop heading sizes */
    --heading-font-size-xxl: 48px; /* h1 */
    --heading-font-size-xl: 30px; /* h2 */
    --heading-font-size-l: 20px; /* h3 */
    --heading-font-size-m: 20px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 20px;

    /* desktop body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
  }
}

@media (width >= 1200px) {
  :root {
    /* desktop heading sizes */
    --heading-font-size-xxl: 48px; /* h1 */
    --heading-font-size-xl: 30px; /* h2 */
    --heading-font-size-l: 20px; /* h3 */
    --heading-font-size-m: 20px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 20px;

    /* desktop body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;
    --body-font-size-xxs: 12px;
    --body-font-size-xxxs: 10px;
  }
}


body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--header-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 800;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--header-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

.dp-none {
  display: none !important;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  /* section padding/margin for mobile */
  padding: 20px 16px;
}

/* max width for all wrapper divs */
.section > div {
  max-width: var(--max-width);
  margin: auto;
}

@media (width >= 900px) {
  /* max width for all wrapper divs */
  :root {
    --max-width: 700px;
  }

  /* section margin for >= tablet */
  main .section {
    padding: 60px 16px;
  }
}

@media (width >= 1200px) {
  :root {
    --max-width: 1200px;
  }
}

/* section metadata */
main .section.light,
main .section.background-light-gray {
  background-color: var(--light-color);
}

main .section.background-light-yellow {
  background-color: var(--background-light-yellow);
}

main .section.background-light-pink {
  background-color: var(--background-light-pink);
}

main .section.text-centered{
  text-align: center;
}